* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Muy importante para el cálculo de alturas y padding */
}

:root {
    --bg-color: #e0f7fa;          /* Azul claro */
    --card-back-color: #1a237e;   /* Azul marino */
    --card-front-color: #ffffff;
    --card-width: 120px; 
    --card-height: 160px; 
    --card-border-color: #ff9800;    /* #ff9800 Naranja/Ámbar para el borde */
    --title-color: #D61C00;          /* Marrón para el título */
    --card-odd-image: '../../../Principal/imagen-impar.png';
    --card-even-image: '../../../Principal/imagen-par.png' ;
    --boton-play-image: '../../../Principal/play-icon.png' ;
    --boton-ver-solucion: '../../../Principal/versolucion.png' ;
    --boton-ocultar-solucion: '../../../Principal/ocultarsolucion.png' ;
}

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0;
}



html, body {
    height: 100%; /* El html y el body deben ocupar el 100% de la ventana */
    overflow: hidden; /* ❌ Evita scroll en toda la página */
}

body {
    display: flex;
    flex-direction: column; /* Apila los elementos (Contenido y Footer) verticalmente */
}


/* 4. Contenedor Principal (Todo el contenido EXCEPTO el footer) */
.contenedor-principal {
    flex: 1;              /* Ocupa el espacio entre header y footer */
    display: flex;
    flex-direction: column;
    overflow: hidden;     /* ❌ Evita scroll aquí */
 }

/* 5. Estilos de Contenido para visualización (Opcional) */
header {
    padding: 1px;
    border-bottom: 0px solid #ccc;

    justify-content: center; 
    align-items: center; /* Centrado vertical del <p> dentro del <div> */
    text-align: center;
}

header h1 {
    color: var(--title-color);
    padding:5px;
}

header label {
    color: var( --card-back-color);
    padding:5px;
}


.contenido-principal {
  
    flex: 1;              /* Usa el espacio disponible */
    margin-bottom: 81px; /* Ajusta este valor si la altura de tu footer cambia */
    
                            /* 2. Padding Bottom: Solo añade padding en la parte inferior (mantenemos los 5px de padding top, left, right) */
    padding: 5px 5px 0px 5px; /* Sintaxis: top | right | bottom | left */
   
    overflow-y: auto;  
 
}